[Unit]
Description=Xcape Keybinding program
After=xorg.target xkbload.service

[Service]
ExecStart=/usr/bin/xcape -e 'Caps_Lock=Escape'
Type=forking
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
