snippet noqa "Disable all linting for this file"
# pylint: skip-file
# flake8: noqa
endsnippet

snippet dsimports "Imports for general datascience"
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
endsnippet
