# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Max Zhao
	email = alcasa.mz@gmail.com
[core]
	excludesfile = /home/max/.config/gitignore_global
[push]
	followTags = true
